.search-property-form {
  max-width: 800px;
  position: relative;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 8px;

  header {
    background-color: transparent;
    color: black;
    font-weight: 500;
    font-size: 20px;
    padding: 10px 20px 0 20px;
  }

  .submit-button-section {
    justify-content: flex-end;
    gap: 10px;
    margin: 10px 0 0 0;
  }
}