.combo-box-wrapper {
  position: relative;
}

.combo-box-container {
  display: flex;
  flex-direction: column;
}

.combo-box-label {
  font-size: 11px;
  font-weight: 500;
  top: 0;
  white-space: nowrap;
}

.input-button-container {
  display: flex;  

  input {
    width: 100%;
    padding: 6px;
    border-radius: 3px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid rgb(187, 186, 186);
    height: 30px;
    &:focus {
      border-color: rgba(0, 110, 255, 0.8);
      box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(0, 110, 255, 0.8);
      outline: 0 none;
    }
  }

  button {
    cursor: pointer;
    padding: 0 8px;
    border: none;
    background-color: white;
  }
}

.combo-box-dropdown-container {
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
  padding: 0;
  background-color: white;
  max-height: 320px;
  z-index: 2;
  width: 100%;
}

.highlighted-index {

  background-color: #93c5fd;
}

.selected-item {
  font-weight: bold;
}

.combo-box-item {
  padding: 8px 12px;

}

.hidden {
  display: none;
}
