.company-abbr-status-section,
.city-state-zip-section,
.percent-prod-section {
  gap: 20px;
  width: 100%;
  align-items: center;

  .company {
    flex: 1;
  }

  .status,
  .abbr {
    flex: .20;
  }

  .state {
    flex: .5;
  }

  .city{
    flex: 1;
  }

  .zip {
    flex: .5;
  }
}




