.properties-table {
  width: 100%;
  border-collapse: collapse;
  
  th {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 11px;
    font-family: sans-serif;
    padding: 10px 5px;
    background-color: rgb(41, 41, 41);
    color: white;
    border: 1px solid white;
    letter-spacing: .5px;
  }
  
  td {
    line-height: 28px;
    text-align: center;
    white-space: nowrap;
  }

}
