.card {
  padding: 20px;
  width: 100%;

  .content {
    display: flex;
    gap: 30px;

    .selected {
      background-color: rgba(94, 102, 128, 0.336);
    }

    .edit-options-section {
      display: flex;
      flex-direction: column;
      font-size: 16px;
      gap: 10px;
  
      .edit-button {
        display: flex;
        border: 1px solid rgb(228, 228, 228);
        justify-content: space-between;
        gap: 10px;
        padding: 5px 8px;
        border-radius: 3px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.116);
        font-size: 14px;
        cursor: pointer;
        white-space: nowrap;

        &:hover{
          background-color: whitesmoke;
        }

        @media screen and (min-width: 1200px) {
          font-size: 16px;
        }
      }
    }

    .table-section {
      flex: 1;
      height: 350px;
      position: relative;
      min-width: 600px;

      header {
        display: none;
      }
      
      &.has-data {
        flex: unset;
        margin-top: 60px;

        header {
          position: absolute;
          top: -65px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 5px;
          font-size: 18px;
          font-weight: 600;
        }

        .add-new-button {
          padding: 5px 12px 5px 5px;
          display: inline-block;
          border-radius: 100px;
          background-color: #0966f1;
          color: white;
          cursor: pointer;
          display: flex;
          gap: 5px;
          width: fit-content;
          font-weight: 600;
          font-size: 12px;
          letter-spacing: 1px;
          text-transform: uppercase;
          align-items: center;

          &:hover {
            filter: brightness(110%);
          }
        }

        .table-container {
          height: 100%;
          overflow: auto;

          &::-webkit-scrollbar {
            width: 8px;
            height: 8px;
          }
           
          &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          }
          
          &::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            outline: 1px solid rgb(228, 229, 231);
            border-radius: 100px;
          }
          
          table {
            border-radius: 5px;
            overflow: hidden;
            
          }
        }
  
      }

    }
  }
  
}

