.input-placeholder {
  // height: 45px;
}

.section-divider {
  height: 20px;
}

.title-company-select {
  width: 220px;
}

.fileNumber {
  width: 100px;
}

.top-section,
.mid-section {
  gap: 10px;
}

.mid-section {
  margin-top: 5px;
}

.column-1 {
  flex: 1;
}

.column-2,
.column-3 {
  flex: .4;
  justify-content: flex-start;
}

.state-zip-section,
.lot-condo-unit-section,
.status-type-assigned-section,
.comp-ref-file-num-section,
.client-id-file-section,
.opolicy-section,
.lpolicy-section {
  gap: 10px;
  width: 100%;
  align-items: center;
  
  .state {
    flex: .5;
    min-width: 100px;
  }
  .zip {
    flex: 1;
  }

  .clientName,
  .oPolicyNumber,
  .lPolicyNumber {
    flex: .4;
  }
  .clientFileNumber,
  .oPolicyAmount,
  .lPolicyAmount {
    flex: .25;
  }
}

.status-type-assigned-section,
.notes-section {
  margin-top: 5px;
}

.notes-section {
  textarea {
    resize: none;
    height: 50px;
    padding: 5px;
    width: 100%;
  }
}

