.form-wrapper {
  border-radius: 8px;
  max-width: 600px;

  header {
    display: flex;
    justify-content: space-between;
    line-height: 30px;
    padding: 0 20px 0 20px;
    font-weight: 500;
  }

  form {
    padding: 10px 20px;

    .form-input-group {
      position: relative;
      padding-top: 15px;
      
      label {
        position: absolute;
        font-size: 11px;
        font-weight: 500;
        top: 0;
        white-space: nowrap;
      }

      .required {
        color: red;
        font-weight: 500;
      }
    
      input,
      select,
      textarea {
        width: 100%;
        border-radius: 3px;
        padding: 5px;
        box-sizing: border-box;
        border: 1px solid rgb(187, 186, 186);
        &:focus {
          border-color: rgba(0, 110, 255, 0.8);
          box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(0, 110, 255, 0.8);
          outline: 0 none;
        }
      }
    
    }
  }

}