.client-name-selection {
  width: 350px;
}

.outstanding-ins-report-container{ 
  line-height: 25px;

  hr {
    width: 400px;
    margin: 0 auto;
  }

  header {
    margin: 0px 0px 30px 0px;
    line-height: 20px;
  }

  h4 {
    text-align: center;
    margin: 10px 0px;
    font-weight: normal;
  }

  h5 {
    margin: 15px 0px 10px 0px;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    line-height: 5px;
  }

  p {
    line-height: 22px;
  }

  .outstanding-ins-report-content {
    display: flex;
    flex-direction: column;

    .outstanding-ins-list {
      margin-bottom: 20px;

      .address-bill-num-section {
        display: flex;
        justify-content: space-between;

        .col-1-b {
          display: flex;
          flex-direction: column;
          span {
            width: 350px;
          }
        }
    
        .col-2-b {
          display: flex;
          flex-direction: column;
        }
      }

      .policy-details-section {
        display: flex;
        .col-1-a {
          display: flex;
          flex-direction: column;
          span {
            width: 350px;
          }
        }
    
        .col-2-a {
          display: flex;
          flex-direction: column;
        }
      }

      .file-policy-premdue-section {
        display: flex;
        margin-top: 5px;

        span {
          &:first-child {
            width: 350px;
          }
        }
      }
    }
  } 

  footer {
    padding: 15px;
    border: 3px solid black;
    text-align: center;
  }
}


.report-page-wrapper {
  position: relative;
  max-width: 950px;
  margin: 100px auto 0px auto;

  .print-report-button {
    top: -50px;
    right: 0;
    position: absolute;
  }
}


.submit-button-section {
  display: flex;
  justify-content: flex-end;
}