.manage-client-form {
  .client-status-section,
  .city-state-zip-section,
  .phone-fax-email-section,
  .contact-statement-section {
    gap: 20px;
    width: 100%;
    align-items: center;
  
    .client {
      flex: 1;
    }
  
    .status {
      flex: .1;
    }
  
    .city,
    .zip  {
      flex: 1;
    }
  
    .phone,
    .fax,
    .email,
    .contact,
    .statement {
      flex: 1;
    }
  }
  
  
  .notes-section {
    textarea {
      resize: none;
      height: 50px;
      padding: 5px;
      width: 100%;
    }
  }
}


