.client-card-wrapper {
  border-top: 1px solid rgb(207, 207, 207);
  border-bottom: 1px solid rgb(207, 207, 207);
  width: 100%;
  padding: 25px 20px;
  position: relative;

  header {
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
    h4 {
      color: rgb(58 58 58);
    }
  }

  .dropdown-content {
    overflow: hidden;
    transition: all .5s ease-in-out;
    max-height: 0;
    opacity: 0;

    &.expanded {
      max-height: fit-content;
      opacity: 1;

      .client-card-info {
        gap: 80px;
        border: 1px solid rgb(212, 212, 212);
        border-radius: 5px;
        padding: 10px;
        margin: 3px 8px;
        cursor: pointer;
    
        &:hover {
          transform: scale(1.002);
          border-color: rgba(145, 179, 224, 0.8);
          box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 5px rgba(145, 179, 224, 0.8);
        }
    
        section {
          justify-content: flex-start;
        }
      }
    }

  }


  span {
    font-size: 13px;
    margin: 0;
  }

  b {
    font-size: 11px;
    margin: 0;
  }
}